<div class="taskTable">
    <div class="searchTask">
        <span>Todas as Tasks</span>
        <div>
            <img src="assets/search.svg">
            <input type="text" placeholder="search task" ng-model="filter" ng-change="filterTasks(tasks, filter)">
        </div>
    </div>
    <table ng-repeat="task in displayedTasks">
        <tr class="taskCard">
            <td><input type="checkbox" ng-checked="task.status == 'Done'" ng-click="updateTask(task.id)">{{ task.title }}</td>
            <td class="priority"><div class="priorityColor" ng-style="{'background-color': prioritiesColors[task.priority]}" ></div> {{ task.priority + ' Priority' }}</td>
            <td>{{ task.status }}</td>
            <td class="imgIcon"><img src="assets/edit.svg" ng-click="openModal(task)"></td>
            <td class="imgIcon"><img src="assets/remove.svg" ng-click="removeTask(tasks, displayedTasks, task.id)"></td>
            <td class="imgIcon"><img  class=""  src="assets/show-more-button.svg" ng-click="displayMore(task.id)"></td>
            <td class="imgIcon hidden-info" ng-if="task.showMore">
                <div>
                    <label>Descrição</label>
                    <span>{{ task.description }}</span>
                </div>
                <div>
                        <label>Data de Início</label>
                        <span>{{ task.startDate | date: 'dd/MM/yyyy' }}</span>
                </div>
                <div>
                        <label>Data Final</label>
                        <span>{{ task.endDate | date: 'dd/MM/yyyy'  }}</span>
                </div>
            </td>
        </tr>
    </table>
    <div class="modal"  ng-include="'view/modal.html'" ng-if="modalOpen"></div>
</div>